/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Neucha&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    transition: all 0.35s;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 8px;
}

.mainNavbar {
    /* border: 1px solid black; */
    padding: 8px;
}

.mainSection {
    /* border: 1px solid black; */
    padding: 8px;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
}

.workbenchSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 24px;
    /* border: 1px solid black; */
    padding: 8px;
    overflow: auto;
}

.aCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 8px;
    width: fit-content;
    height: fit-content;
}

.aImgCard {
    border: 1px solid black;
    padding: 8px;
}

.codeSection {
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 240px;
    background: black;
    color: green;
    padding: 24px;
    position: absolute;
    right: 24px;
}